<div class="list-group">
    <div class="list-group-item list-group-item-secondary  font-weight-bolder">Categories</div>
    <button  class="list-group-item list-group-item-action"><img src="../../../../assets/cesta-de-la-compra.svg" width="30px">Despensa</button>
    <button class="list-group-item list-group-item-action"><img src="../../../../assets/barra-de-chocolate.svg" width="30px">Dulces & Galletas</button>
    <button class="list-group-item list-group-item-action"><img src="../../../../assets/leche.svg" width="30px">Lacteos & Refrigerados</button>
    <button class="list-group-item list-group-item-action "><img src="../../../../assets/botellas.svg" width="30px">Bebidas</button>
    <button href="#" class="list-group-item list-group-item-action "><img src="../../../../assets/bocadillo.svg" width="30px">Snacks</button>
    <button href="#" class="list-group-item list-group-item-action "><img src="../../../../assets/limpieza.svg" width="30px">Aseo</button>
  </div>